<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Program Studi Universitas MDP</h1>
    <table border="1>">
        <thead>
            <tr>
                <th> Nama </th>
                <th> Singkatan </th>
                <th> Fakultas </th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
             <tr>
                <td><%= item.nama %></td>
                <td><%= item.singkatan %></td>
                <td><%= item.fakultas %></td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>